<html lang="pt-br">
    <head>
      <meta charset="utf-8">
      <title>Animal</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <form class="box_login_form" action="/autenticar" method="post">
            <p>Usuario</p>
            <input type="text" name="usuario">
            <p>Senha</p>
            <input type="password" name="senha">
            <input type="submit" value="Entrar">
        </form>
        {% set menssages = get_flashed_messages() %}
        {% if menssages %}
            <div class="messages_error_login">
                {% for msg_error in menssages%}
                    {{msg_error}}
                {% endfor %}
            </div>
        {% endif %}

    </body>
</html>
